//:root {
//  --container-bg-color: #333;
//  --left-bg-color: rgba(223, 39, 39, 0.7);
//  --left-button-hover-color: rgba(161, 11, 11, 0.3);
//  --right-bg-color: rgba(43, 43, 43, 0.8);
//  --right-button-hover-color: rgba(92, 92, 92, 0.3);
//  --hover-width: 75%;
//  --other-width: 25%;
//  --speed: 1000ms;
//}

.gs__container {
  display: flex;
  height: calc(100vh - 167px);

  .gs__left {
    width: 50vw;
    background: url("../../../images/left container bg.jpeg");
    position: relative;
    .gs__button:hover {
      background-color: rgba(161, 11, 11, 0.2);
      border-color: $color-transparent-white;
    }
    &:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background: rgba(223, 39, 39, 0.3);
    }
  }
  .gs__right {
    width: 50vw;
    background: url("../../../images/code-1076536_1280.webp");
    background-position: (-200px, 50px);
    position: relative;
    .gs__button:hover {
      background-color: rgba(92, 92, 92, 0.2);
      border-color: $color-transparent-white;
    }
    &:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background: rgba(43, 43, 43, 0.8);
    }
  }

  h1 {
    font-size: 3.5rem;
    color: white;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
  }

  .gs__button {
    display: block;
    position: absolute;
    left: 50%;
    top: 40%;
    height: 2.5rem;
    padding-top: 1.3rem;
    width: 15rem;
    text-align: center;
    color: #fff;
    border: #fff solid 0.2rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transform: translateX(-50%);
  }


}


//.gs__container {
//
//  .split.left:before {
//    position: absolute;
//    content: "";
//    width: 100%;
//    height: 100%;
//    background: var(--left-bg-color);
//  }
//
//  .gs__right {
//    right: 0;
//    background: url('https://image.ibb.co/m3ZbRb/programmer.png') center center no-repeat;
//    background-size: cover;
//  }
//
//  .split.right:before {
//    position: absolute;
//    content: "";
//    width: 100%;
//    height: 100%;
//    background: var(--right-bg-color);
//  }